.cardBox{
    height: 100%;
    width: 100%;
    background-color: peachpuff !important;

}
.cardPaper{
    height: 100%;
    padding: 25px;
    overflow: hidden;
}

.cardText{
    font-size: 18px;
    margin-bottom: 10px;
}
.actions{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}